h1, h2, h3, a, p, input, label {
    font-family: sans-serif;
}

header {
    padding: 30px;
}

li {
    display: inline;
}

h2 {
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

.quiz_sec_style {
    padding: 30px;
}

#timer {
    text-align: end;
}

.quiz {
    text-align: center;
}

.question_style {
    display: block;
    margin: 30px;
}

label {
    margin: 40px;
}